<!doctype html>
  <head>
  </head>
  <body ng-app="app">
    <div ng-controller="TodosController">
      <h1>lift off</h1>
    </div>

    <md-content class="md-padding">
      <section layout="column" layout-align="center center">
        <h1>Lift off.<h1>
        <p>Sup boo.</p>
        <p>Good luck in there, Dude!</p>

        <h2>Login</h2>
        <form name="LoginForm">
          <div layout="column">

            <md-input-container>
              <label>Email</label>
              <input ng-model="user.email" />
            </md-input-container>

            <md-input-container>
              <label>Password</label>
              <input ng-model="user.password" type="password" />
            </md-input-container>

            <md-button class="md-raised md-primary" type="button" ng-click="login(user)">
              Submit
            </md-button>
          </div>
        </form>
      </section>
    </md-content>



    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      System.import('app')
    </script>


  </body>
</html>
